@inject GameState GameState

@if (GameState?.UserProfile == null)
    {
        <span>Initializing ...</span>
    }
    else
    {   
        <div class="profile">
            <img src=@GameState?.UserProfile?.Icon?.Path />
            <span @onclick=@TogglePanel>@GameState?.UserProfile?.Name</span>
            <span class="oi @ArrowClass profile-arrow" aria-hidden="true" @onclick=@TogglePanel />
        </div>
    }

@code {

    protected override void OnInitialized()
    {
        GameState.RefreshRequested += RefreshMe;
    }

    public void Dispose()
    {
        GameState.RefreshRequested -= RefreshMe;
    }

    private void TogglePanel()
    {
        if (GameState == null)
        {
            return;
        }

        GameState.IsProfilePanelVisible = !GameState.IsProfilePanelVisible;
        GameState.RequestRefresh();
    }

    private string ArrowClass
    {
        get
        {
            if ((GameState?.IsProfilePanelVisible ?? false) == true)
            {
                return "oi-caret-top";
            }
            return "oi-caret-bottom";
        }
    }

    private async void RefreshMe()
    {
        await InvokeAsync(() => StateHasChanged());
    }
}
