.profile {
    font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
    vertical-align: top;
    cursor: default;
}

    .profile img {
        width: 2.5rem;
        height: 2.5rem;
    }

.profile-arrow {
    vertical-align: text-bottom;
    cursor: pointer;
}
