@page "/help"

<PageTitle>Sudoku Help</PageTitle>

<h1>Instructions</h1>

<p>At any time during setup or game play use the <strong>Undo</strong> and 
    <strong>Redo</strong> buttons to undo and redo changes to squares' values.</p>

<h2>Setup</h2>

<p>Click on a square to enter an initial value.  Initial values are displayed in 
    blue, to distinguish them from values entered during game play.</p>                

<p>The <strong>Clear game grid</strong> button will remove all initial 
    values, allowing you to enter them again from scratch if you make a drastic 
        mistake.</p>

<p>When you finish entering the initial values, click the 
    <strong>Start game</strong> button to start the game and timer.</p>

<h2>Game Play</h2>

<p>During the game click on a square to enter or remove a value.  Values entered 
    during the game are displayed in black, to distinguish them from initial 
    values entered during setup.</p>

<p>The game will finish and the timer will stop when you set the value of the 
    last square in the game grid.</p>

<p>At any time during the game you can use the following buttons:</p>
<ul>
    <li><strong>Pause</strong> button:  Pauses the timer.  Continue the game again 
        via the <strong>Continue</strong> button;</li>
    <li><strong>Restart game</strong> button:  Restarts the game with the same 
        initial values.  Any values entered during the game are deleted and the 
        timer is restarted;</li>
    <li><strong>New game</strong> button: Ends the game and clears the game  
        grid so you can start a new game from scratch.  All initial values and 
        values entered during the game are deleted.</li>
</ul>         