@page "/"
@inject GameState GameState

<PageTitle>Index</PageTitle>

<div class="main">
    <h1>Sudoku!</h1>

    @if (GameState == null)
    {
        <p>Loading game board ...</p>
    }
    else
    {        
        <table>
            @for (int row = 0; row < 9; row++)
            {
                <tr>
                    @for (int column = 0; column < 9; column++)
                    {
                        <td class="grid">@row,@column</td>
                    }
                </tr>
            }
        </table>

    }

</div>
