@page "/"
@inject GameState GameState

<PageTitle>Index</PageTitle>

<div class="main">
    <h1>Sudoku!</h1>

    @if (GameState == null)
    {
        <p>Loading game board ...</p>
    }
    else
    {        
        <table>
            @for (int row = 0; row < 9; row++)
            {
                <tr>
                    @for (int column = 0; column < 9; column++)
                    {
                        <td class="grid">@row,@column</td>
                    }
                </tr>
            }
        </table>

        if (@ShowSingleButtonDialog)
        {
            <SingleButtonDialog
                Type="DialogType.Warning"
                Title="This will be included"
                Message="OMG, nothing happened."
                OnClose="CloseDialog" />
        }

        <div class="page-buttons-single">
            <button class="btn btn-success" @onclick="ShowDialog">Open dialog</button>
        </div>
    }

</div>

@code
{
    private bool ShowSingleButtonDialog { get; set; } = false;


    private void ShowDialog()
    {
        ShowSingleButtonDialog = true;
    }

    private void CloseDialog()
    {
        ShowSingleButtonDialog = false;
    }
}
