@page "/"
@using SudokuClassLibrary
@inject GameState GameState

<PageTitle>Index</PageTitle>

<div class="main">
    <h1>Sudoku!</h1>

    @if (GameState == null)
    {
        <p>Loading game board ...</p>
    }
    else
    {        
        <table>
            @for (int row = 0; row < 9; row++)
            {
                <tr>
                    @for (int column = 0; column < 9; column++)
                    {
                        <td class="grid">
                            <Cell
                                GameState="GameState"
                                CellRow="@row"
                                CellColumn="@column" />
                        </td>
                    }
                </tr>
            }
        </table>

        if (@ShowSingleButtonDialog)
        {
            <SingleButtonDialog
                Type="DialogType.Warning"
                Title="This will be included"
                Message="OMG, nothing happened."
                OnClose="CloseDialog" />
        }

        <div class="page-buttons-single">
            <button class="btn btn-success" @onclick="ShowDialog">Open dialog</button>
        </div>

        <div>
            <button class="btn btn-success ml-auto" @onclick="StartGame">Start new game</button>
        </div>
    }

</div>

@code
{
    private bool ShowSingleButtonDialog { get; set; } = false;

    private void StartGame()
    {
        List<GameStatus> statusesToDisplayStartDialog = new()
        {
            GameStatus.Unknown,
            GameStatus.PreStart,
            GameStatus.Starting, 
            GameStatus.Cancelled,
            GameStatus.Finished
        };

        //ShowStartDialog = statusesToDisplayStartDialog.Contains(GameState.Status);
        ShowSingleButtonDialog = true;
    }

    private void ShowDialog()
    {
        ShowSingleButtonDialog = true;
    }

    private void CloseDialog()
    {
        ShowSingleButtonDialog = false;
    }
}
