@page "/test"
@inject IJSRuntime JS

<PageTitle>Test</PageTitle>

<h3>Test</h3>

<div>
    <span class="timer-text">Time:</span>
    <span id="timer" class="timer-text">00:00:00.00</span>
</div>

<div>
    <button class="btn btn-success" @onclick="StartJsTimer">Start timer</button>
    <button class="btn btn-success" @onclick="PauseJsTimer">Pause timer</button>
    <button class="btn btn-success" @onclick="ResumeJsTimer">Resume timer</button>
    <button class="btn btn-success" @onclick="RestartJsTimer">Restart timer</button>
    <button class="btn btn-success" @onclick="StopJsTimer">Stop timer</button>
    <button class="btn btn-success" @onclick="ClearJsTimer">Clear timer</button>
</div>

@code { 

    private async Task StartJsTimer()
    {
        await JS.InvokeVoidAsync("startTimer");
    }

    private async Task PauseJsTimer()
    {
        await JS.InvokeVoidAsync("pauseTimer");
    }

    private async Task ResumeJsTimer()
    {
        await JS.InvokeVoidAsync("resumeTimer");
    }

    private async Task StopJsTimer()
    {
        await JS.InvokeVoidAsync("stopTimer");
    }

    private async Task ClearJsTimer()
    {
        await JS.InvokeVoidAsync("clearTimer");
    }

    private async Task RestartJsTimer()
    {
        await JS.InvokeVoidAsync("restartTimer");
    }
}
